{% extends 'base.html' %}

{% block content %}



</br>

<form method="post">
    Name <input type="text" name="title" autocomplete="off" required>
    Author <input type="text" name="author" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>

<ul class = "book-list">
    {% for book in books %}  
    <li>{{ book.title }} - {{ book.author }}
        <span class="float-right">
            <span class="float-right">
                
                <a class="read" href="https://book.douban.com/subject_search?search_text={{ book.title }}" target="_blank" title="Find this book on douban">Book</a>

                <a class="btn" href="{{ url_for('edit', book_id=book.id) }}">Edit</a>
                <form class="inline-form" method="post" action="{{ url_for('.delete', book_id=book.id) }}">
                    <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                </form>
  
            </span>

    </li>  
    {% endfor %}  

    <p class="p">total :{{ books|length }} Titles</p>
</ul>

</br>
</br>
</br>
    <img alt="pic1" class = "pic1" src="{{ url_for('static', filename='images/pic1.jpg') }}">
    <img alt="pic2" class="pic2" src="{{ url_for('static', filename='images/pic2.jpg') }}">
    <img alt="pic3" class = "pic1" src="{{ url_for('static', filename='images/pic3.jpg') }}">
    <img alt="pic4" class="pic2" src="{{ url_for('static', filename='images/pic4.jpg') }}">
    {% endblock %}
