{% extends 'base.html' %}

{% block content %}

<p>{{ books|length }} Titles</p>

<ul class = "book-list">
    {% for book in books %}  
        
    <li>{{ book.title }} - {{ book.author }}
        <span class="float-right">
            <span class="float-right">
                <a class="read" href="https://book.douban.com/subject_search?search_text={{ book.title }}" target="_blank" title="Find this book on douban">Book</a>
            </span>
    </li>  
      
    {% endfor %}  
        
</ul>
    <img alt="pic1" class = "pic1" src="{{ url_for('static', filename='images/pic1.jpg') }}">
    <img alt="pic2" class="pic2" src="{{ url_for('static', filename='images/pic2.jpg') }}">
    <img alt="pic3" class = "pic1" src="{{ url_for('static', filename='images/pic3.jpg') }}">
    <img alt="pic4" class="pic2" src="{{ url_for('static', filename='images/pic4.jpg') }}">
    {% endblock %}
